/*! nextcss/alerts */

%alert-base {
	inherit: %clearfix;
	inherit: %content;
	padding: 1.6888em 2em 1.55em 1.2em;
	margin-top: var(--n-line-em);
	border: 1px solid;
}

%alert-base a {
	font-weight: bold;
	color: inherit;
}

%alert-base a:hover, a:focus {
	color: inherit;
	text-decoration: none;
}

%alert-base %button-base {
	float: right;
	position: relative;
	right: -1em;
}
