/*! nextcss/base
 * Somewhat inspired by (and includes parts of):
 *   http://typeplate.com
 *   http://purecss.io/base/
 *   http://getbootstrap.com
 *   http://getuikit.com/docs/base.html
 */

.sr-only {
	inherit: %sr-only;
}

/* Yes this is 2014. Who still thinks the weird box model and overflowing images by default are good ideas?! */
* {
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
}
[hidden] {
	display: none !important;
}

html {
	hyphens: auto;
	background: white;
	color: #3c3c3c;
	line-height: var(--n-line);
}

abbr, acronym, blockquote, code, dir, kbd, listing, plaintext, q, samp, tt, var, xmp, input, button {
	hyphens: none;
}

abbr {
	inherit: %small-caps;
	border-bottom: 1px dashed;
}

&:hover {
	cursor: help;
}

ul {
	padding-left: 0;
	list-style-type: square;
	list-style-position: inside;
}

& ul {
	padding-left: 1em;
}

a {
	text-decoration: none;
}

&:hover, &:focus {
	text-decoration: underline;
}

h1 { inherit: %heading;  font-size: var(--alpha  );  margin: 1em      0 0; }
h2 { inherit: %heading;  font-size: var(--beta   );  margin: 0.8333em 0 0; }
h3 { inherit: %heading;  font-size: var(--gamma  );  margin: 0.6777em 0 0; }
h4 { inherit: %heading;  font-size: var(--delta  );  margin: 0.2333em 0 0; }
h5 { inherit: %heading;  font-size: var(--epsilon);  margin: 0.3999em 0 0; }
h6 { inherit: %heading;  font-size: var(--zeta   );  margin: 0.6555em 0 0; }

%content { margin: var(--n-line-em) 0 0; }
p, ul, ol { inherit: %content; }
ul ul { margin-top: 0; }

/* because importing nextcss/all should not add any top-level stuff, only placeholders */
form { inherit: %form; }
input, select, textarea { inherit: %form-element; }
textarea { inherit: %textarea; }
select { inherit: %select; }
html input[disabled], select[disabled], select[disabled] option, select[disabled] optgroup, textarea[disabled] { inherit: %disabled-form-element; }

table { inherit: %table; }
