/*! nextcss/base
 * Somewhat inspired by (and includes parts of):
 *   http://typeplate.com
 *   http://purecss.io/base/
 *   http://getbootstrap.com
 *   http://getuikit.com/docs/base.html
 */

.sr-only {
	inherit: %sr-only;
}
/* Yes this is 2014. Who still thinks the weird box model and overflowing images by default are good ideas?! */
* {
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
}
[hidden] {
	display: none !important;
}

html {
	hyphens: auto;
	background: white;
	color: #3c3c3c;
	line-height: 1.65;
}

abbr, acronym, blockquote, code, dir, kbd, listing, plaintext, q, samp, tt, var, xmp, input, button {
	hyphens: none;
}

abbr {
	inherit: %small-caps;
	border-bottom: 1px dashed;
}

&:hover {
	cursor: help;
}

ul {
	padding-left: 0;
	list-style-type: square;
	list-style-position: inside;
}

ul ul {
	padding-left: 1em;
}

a {
	text-decoration: none;
}

&:hover, &:focus {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	text-rendering: optimizeLegibility; /* voodoo to enable ligatures and kerning */
	line-height: 1; /* this fixes huge spaces when a heading wraps onto two lines */
	margin-bottom: 0;
}

& small {
	font-size: 50%;
	color: gray;
}

h1 { font-size: var(--alpha); }
h2 { font-size: var(--beta); }
h3 { font-size: var(--gamma); }
h4 { font-size: var(--delta); }
h5 { font-size: var(--epsilon); }
h6 { font-size: var(--zeta); }
