/*! nextcss/grids
 * Based on:
 *   http://philipwalton.github.io/solved-by-flexbox/demos/grids/
 */

%grid {
	display: flex;
	flex-flow: row wrap;
}

%grid > * {
	flex: 1 1 100%;
	max-width: 100%;
}

%grid-flex {
	flex-flow: row nowrap;
}

%grid-flex > * {
	flex: 1 1 auto;
	word-wrap: break-word;
	word-break: break-all;
}

@macro gutter {
	padding: 0 $1;
}
