/*! nextcss/lists */

%list-vertical {
	inherit: %clearfix; /* for the last-odd-child's margin! */
	list-style-type: none;
}

& li {
	border-bottom: 1px solid silver;
	padding: calc(var(--n-line-em) / 4) 0.6em;
	margin-top: -1px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

& li:last-child {
	border-bottom: none;
}

&&:nth-child(odd) {
	margin-bottom: calc(var(--n-line-em) / 2);
}
