/*! nextcss/media
 * Inspired by:
 *  https://philipwalton.github.io/solved-by-flexbox/demos/media-object/
 */

%media-object {
	display: flex;
	align-items: flex-start;
}

%media-object figure {
	margin: 0;
}

%media-object > * + * {
	margin-left: 1em;
	flex: 1;
}
