/*! nextcss/util
 * Somewhat inspired by (and includes parts of):
 *   http://getbootstrap.com
 *   http://typeplate.com
 *   http://nicolasgallagher.com/micro-clearfix-hack/
 */

@custom-media --hidpi only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 1.5/1),
	only screen and (min-resolution: 144dpi),
	only screen and (min-resolution: 1.5dppx);

:root {
	--tera: 6.5rem;
	--giga: 5rem;
	--mega: 4rem;
	--alpha: 3.3333rem;
	--beta: 2.6667rem;
	--gamma: 2rem;
	--delta: 1.3333rem;
	--epsilon: 1.1667rem;
	--zeta: 1rem;
}

%clearfix:before, %clearfix:after {
	content: " ";
	display: table;
}

%clearfix:after {
	clear: both;
}

%small-caps {
	font-variant: small-caps;
	text-transform: uppercase;
}

/* Only for screenreaders */
%sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0px,0px,0px,0px);
	border: 0px none;
}

%round {
	border-radius: 999em;
}

%heading {
	color: black;
	text-rendering: optimizeLegibility; /* voodoo to enable ligatures and kerning */
	line-height: 1; /* this fixes huge spaces when a heading wraps onto two lines */
}

& small {
	font-size: 50%;
	color: gray;
}
