@import "nextcss";

body {
	width: 95%;
	margin: 0 auto;
	font-family: Nunito, Avenir, sans-serif;
}
.show-rhythm {
	background-image: linear-gradient(to bottom, #ebebeb 5%, rgba(225, 225, 225, 0) 5%);
	background-size: 100% var(--n-line-em);
	background-position: left top;
}
& pre { display: none; }
@media screen and (min-width: 70em) {
	body { width: 85%; }
	& > section > p, & > section > ul { width: 70%; }
}
body > footer {
	color: gray;
	margin: 2.6em 0;
	font-size: 0.8em;
}
pre {
	line-height: var(--n-line) !important;
	margin: 0 0 var(--n-line-em) !important;
	padding: calc(var(--n-line-em) / 2) 0.5em !important;
}
pre, code {
	font-family: Inconsolata, monospace !important;
	tab-size: 2 !important;
}
h1, h2, h3 {
	font-family: Coda, monospace;
	font-weight: 400;
}

a { color: color(red shade(10%)); }
a:hover, a:focus { color: color(red tint(15%)); }

.thingies {
	display: flex;
	overflow: scroll;
}
:root {
	--success: green;
	--action: blue;
	--failure: red;
}
.success-thingy {
	background: linear-gradient(to bottom, color(var(--success) tint(20%)), color(var(--success) shade(20%)));
}
.action-thingy {
	background: linear-gradient(to bottom, color(var(--action) tint(20%)), color(var(--action) shade(20%)));
}
.failure-thingy {
	background: linear-gradient(to bottom, color(var(--failure) tint(20%)), color(var(--failure) shade(20%)));
}
.thingy {
	color: color(white shade(10%) alpha(0.5));
	font-size: 2em;
	letter-spacing: 0.4em;
	padding: 1.59rem 2px;
	text-align: center;
	flex: 1;
	overflow: hidden;
}

.grid-demo-content {
	background: color(yellow tint(50%) alpha(0.9));
	text-align: center;
	padding: calc(var(--n-line-em) / 2);
	margin: @padding;
}

.grid-example, .grid-thirds-example, .grid-fifths-example, .grid-spannable-example { inherit: %grid; margin: calc(var(--n-line-em) / 2) 0;}
& > *                { background: color(purple tint(60%) alpha(0.4)); }
& > *:nth-child(odd) { background: color(purple tint(60%) alpha(0.2)); }
@media screen and (min-width: 38em) {
	.grid-example {
		inherit: %grid-flex;
	}
	& > * { gutter: 0.6em; }
	& > .demo-two-of-three { span: 2 of 3; }
}

.grid-thirds-example { inherit: %grid; }
@media screen and (min-width: 38em) {
	.grid-thirds-example { inherit: %grid-flex-3; }
	& > * { gutter: 0.6em; }
}

.grid-spannable-example { inherit: %grid; }
@media screen and (min-width: 38em) {
	.grid-spannable-example { inherit: %grid-flex; }
	& > * { gutter: 0.6em; span: 1 of 3; }
	.demo-span-thirds { span: 2 of 3; }
	.demo-offset-thirds { span: 1 of 3 offset 1; }
}

.grid-fifths-example { inherit: %grid; }
@media screen and (min-width: 38em) {
	.grid-fifths-example { inherit: %grid-flex-5; }
	& > * { gutter: 0.6em; }
}

.grid-codez { inherit: %grid; }
@media screen and (min-width: 70em) {
	.grid-codez { inherit: %grid-flex; }
	& > * { gutter: 0.4em; overflow: auto; }
}

.feed-post {
	inherit: %media-object;
	margin-top: var(--n-line-em);
}
& img {
	inherit: %round;
	max-width: 4em;
	max-height: @max-width;
}
& a {
	text-decoration: none;
	font-weight: bold;
}
& p {
	margin: 0.1em 0;
}
& time {
	font-style: italic;
}
& small {
	display: block;
}

.list-files {
	inherit: %list-vertical;
}
& a {
	flex: 1;
	margin-left: 0.35em;
}

.button-pure {
	button: bgcolor(silver) fgcolor(black) rounded;
}
&:hover, &:focus {
	button-style: bgcolor(silver) fgcolor(black) shade-gradient;
}
&:focus {
	border-color: blue;
}

.button-success {
	button: bgcolor(green) fgcolor(white) gradient;
}
&:hover, &:focus {
	button-style: bgcolor(green shade(20%)) fgcolor(white) gradient bordered;
}

.button-yolo {
	button: bgcolor(purple) circle(5em) gradient bordered;
}
&:hover, &:focus {
	button-style: bgcolor(yellow) gradient bordered;
}

.button-yolo2 {
	button: bgcolor(white) fgcolor(orange) circle(5em) borderonly;
}
&:hover, &:focus {
	button-style: bgcolor(white) fgcolor(orange shade(15%)) borderonly;
}

.button-borderonly {
	button: bgcolor(white) fgcolor(fuchsia) borderonly pill;
}
&:hover, &:focus {
	button-style: bgcolor(white) fgcolor(yellow) borderonly;
}
.button-borderonly2 {
	button: bgcolor(white) fgcolor(teal) borderonly;
}
&:hover, &:focus {
	button-style: bgcolor(white) fgcolor(teal shade(30%)) borderonly;
}

.form-web-search {
	margin-top: 0.5em;
}

.form-search label {
	inherit: %input-addons;
	inherit: %input-addons-rounded;
}

.form-password label {
	inherit: %input-addons;
}
& input {
	border-color: teal;
	color: teal;
}
&&:focus {
	border-color: navy;
}
& span {
	border-color: teal;
	background: teal;
	color: white;
}

.form-comment {
	inherit: %form-stacked;
}
& input:focus, & select:focus, & textarea:focus, & button:focus {
	border-color: transparent;
	box-shadow: 0 0 4px blue;
}
&&:invalid {
	box-shadow: 0 0 4px red;
}

.form-feedback {
	inherit: %form-stacked;
}
& label {
	color: color(teal shade(25%));
}
& input, & select, & textarea, & span {
	border-radius: 0;
	border-width: 2px;
	border-color: teal;
	color: color(teal shade(35%));
}
&&:focus, & button:focus {
	border-color: fuchsia;
}
&&&:invalid {
	border-color: color(red shade(15%));
}
.field-with-warning {
	inherit: %input-addons;
}
& span {
	background: teal;
	color: white;
}
@media screen and (min-width: 40em) {
	.form-feedback {
		inherit: %form-aligned;
	}
}

.small-forms { margin-bottom: calc(var(--n-line-em) / 2); }
& form { margin: var(--n-line-em); }
@media screen and (min-width: 43em) {
	.small-forms {
		display: flex;
		justify-content: center;
	}
}
.form-signup {
	inherit: %form-grouped;
	max-width: 320px;
}
& input:focus {
	outline: none;
	border-color: green;
	color: color(green shade(40%));
}
&&:invalid {
	border-color: red;
	color: color(red shade(40%));
}

.form-login {
	inherit: %form-grouped;
	max-width: 320px;
}
& input {
	border-width: 2px;
	border-color: fuchsia;
	color: color(yellow shade(40%));
}
&&:focus {
	outline: none;
	border-color: color(yellow);
}
& input, & button {
	transition: all 0.5s ease-in-quad;
}

.table-frameworks {
	inherit: %table-striped;
	margin-top: var(--n-line-em);
}
@media screen and (max-width: 40em) {
	.table-frameworks {
		inherit: %table-collapsed;
	}
}

.button-close {
	inherit: %button-base;
	button: bgcolor(transparent) fgcolor(black) circle(1.2em);
}
&:focus {
	border: blue 1px solid;
}
.alert-success {
	alert: color(green);
	border-width: 0;
}
.alert-error {
	alert: color(red);
	border-width: 2px;
	margin-bottom: -2px;
}
.alert-info {
	alert: color(yellow);
}

.triangle-wrapper {
	height: calc(var(--n-line-em) * 3);
}
.demo-triangle-left {
	triangle: left;
}
.demo-triangle-right {
	triangle: size(5vw) bgcolor(purple) fgcolor(yellow) right;
}
.demo-triangle-up {
	triangle: size(2em) color(green) up;
}
.demo-triangle-down {
	triangle: size(14px) down;
}
.demo-triangle-down-left {
	triangle: down-left size(2em) color(teal);
}
.demo-triangle-up-right {
	triangle: up-right size(2em) color(navy);
	margin-left: -1.5em;
}

.ob, .ob a { color: color(gray alpha(0.5)); }
