@import "nextcss";

body {
	width: 95%;
	margin: 0 auto;
	font-family: Nunito, Avenir, sans-serif;
}
pre, code {
	font-family: Inconsolata, monospace !important;
}
h1, h2, h3 {
	font-family: Coda, monospace;
	font-weight: 400;
}

a { color: color(var(--red) shade(10%)); }
a:hover, a:focus { color: color(var(--red) tint(15%)); }

.thingies {
	display: flex;
}
:root {
	--success: var(--green);
	--action: var(--blue);
	--failure: var(--red);
}
.success-thingy {
	background: linear-gradient(to bottom, color(var(--success) tint(20%)), color(var(--success) shade(20%)));
}
.action-thingy {
	background: linear-gradient(to bottom, color(var(--action) tint(20%)), color(var(--action) shade(20%)));
}
.failure-thingy {
	background: linear-gradient(to bottom, color(var(--failure) tint(20%)), color(var(--failure) shade(20%)));
}
.thingy {
	color: color(white shade(10%) alpha(0.5));
	font-size: 2em;
	letter-spacing: 0.4em;
	padding: 1em;
	text-align: center;
	flex: 1;
}

.grid-demo-content {
	background: color(var(--yellow) tint(50%) alpha(0.9));
	text-align: center;
	padding: 1em;
	font-size: var(--delta);
}
.grid-example {
	inherit: %grid;
	margin: 1em 0;
}
.grid-example > * {
	background: color(var(--purple) tint(60%) alpha(0.4));
}
@media screen and (min-width: 600px) {
	.grid-example {
		inherit: %grid-flex;
	}
	.grid-example > * {
		padding: 0 0.6em;
	}
	.grid-example > .demo-two-of-three {
		flex: 0 0 66.66666%;
	}
	.grid-example > .demo-two-of-four {
		flex: 0 0 50%;
	}
}

.button-pure {
	inherit: %button-base;
	button: bgcolor(var(--silver)) fgcolor(var(--black)) rounded;
}
.button-pure:hover, .button-pure:focus {
	button: bgcolor(var(--silver)) fgcolor(var(--black)) shade-gradient;
}
.button-pure:focus {
	border-color: var(--blue);
}

.button-success {
	inherit: %button-base;
	button: bgcolor(var(--green)) fgcolor(var(--white)) gradient;
}
.button-success:hover, .button-success:focus {
	button: bgcolor(var(--green) shade(20%)) fgcolor(var(--white)) gradient bordered;
}

.button-yolo {
	inherit: %button-base;
	button: bgcolor(var(--purple)) circle(5em) gradient bordered;
}
.button-yolo:hover, .button-yolo:focus {
	button: bgcolor(var(--yellow)) gradient bordered;
}

.button-yolo2 {
	inherit: %button-base;
	button: bgcolor(var(--white)) fgcolor(var(--orange)) circle(5em) borderonly;
}
.button-yolo2:hover, .button-yolo2:focus {
	button: bgcolor(var(--white)) fgcolor(var(--orange) shade(15%)) borderonly;
}

.button-borderonly {
	inherit: %button-base;
	button: bgcolor(var(--white)) fgcolor(var(--fuchsia)) borderonly pill;
}
.button-borderonly:hover, .button-borderonly:focus {
	button: bgcolor(var(--white)) fgcolor(var(--yellow)) borderonly;
}
.button-borderonly2 {
	inherit: %button-base;
	button: bgcolor(var(--white)) fgcolor(var(--teal)) borderonly;
}
.button-borderonly2:hover, .button-borderonly2:focus {
	button: bgcolor(var(--white)) fgcolor(var(--teal) shade(30%)) borderonly;
}

.form-comment {
	inherit: %form-stacked;
}
.form-comment input:focus, .form-comment select:focus, .form-comment textarea:focus, .form-comment button:focus {
	border-color: transparent;
	box-shadow: 0 0 4px var(--blue);
}
.form-comment input:focus:invalid {
	box-shadow: 0 0 4px var(--red);
}

.small-forms form { margin: 1em; }
@media screen and (min-width: 680px) {
	.small-forms {
		display: flex;
		justify-content: center;
	}
}
.form-signup {
	inherit: %form-grouped;
	max-width: 320px;
}
.form-signup input:focus {
	outline: none;
	border-color: var(--green);
	color: color(var(--green) shade(40%));
}
.form-signup input:focus:invalid {
	border-color: var(--red);
	color: color(var(--red) shade(40%));
}

.form-login {
	inherit: %form-grouped;
	max-width: 320px;
}
.form-login input {
	border-width: 2px;
	border-color: var(--fuchsia);
	color: color(var(--yellow) shade(40%));
}
.form-login input:focus {
	outline: none;
	border-color: color(var(--yellow));
}
.form-login input, .form-login button {
	transition: all 0.5s ease-in-quad;
}

.button-close {
	inherit: %button-base;
	button: bgcolor(transparent) fgcolor(inherit) circle(1.2em);
}
.alert-success {
	inherit: %alert-base;
	alert: color(var(--green));
	border-width: 0;
}
.alert-error {
	inherit: %alert-base;
	alert: color(var(--red));
	border-width: 2px;
}
.alert-info {
	inherit: %alert-base;
	alert: color(var(--yellow));
}

.demo-triangle-left {
	triangle: left;
}
.demo-triangle-right {
	triangle: size(5vw) bgcolor(var(--purple)) fgcolor(var(--yellow)) right;
}
.demo-triangle-up {
	triangle: size(2em) color(var(--green)) up;
}
.demo-triangle-down {
	triangle: size(14px) down;
}
.demo-triangle-down-left {
	triangle: down-left size(2em) color(var(--teal));
}
.demo-triangle-up-right {
	triangle: up-right size(2em) color(var(--navy));
	margin-left: -1.5em;
}
